{% extends 'base.html' %}

{% block content %}
    <div style="padding: 2rem; text-align : center;">
        <h2>About Me</h2>

        <blockquote style="margin: 1rem auto; font-style: Consolas;">
           <p>I am Anthony Sergo, a professional with a background in Agriculture and a growing passion for technology. I specialize in Python programming and virtual assistance. I aim to use my skills to help solve real-world problems and make a positive impact.</p>
        </blockquote>
    </div>
{% endblock %}


