{% extends 'base.html' %}

{% block content %}
    <div style="padding: 2rem; text-align : center;">
        <h2>About Me</h2>

        <blockquote style="margin: 1rem auto; font-style: Consolas;">
           <p>👋 Hi there! I'm Anthony Sergo —
🔭 Currently exploring Machine Learning and SQL
🛠️ Skilled in Python, Virtual Assistant, General Agriculture, and General Programming
🌱 Passionate about AI, open-source, and continuous learning
💡 I enjoy solving problems, automating tasks, and experimenting with new tech
📫 Let's connect: LinkedIn 
🚀 Always open to collaboration and learning!</p>
        </blockquote>
    </div>
{% endblock %}


