<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <!-- Hamburger for Mobile -->
    <div class="hamburger" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <!-- Navigation -->
    <nav>
        <div class="nav-container">
            <a href="/" class="active"><i class="fas fa-home"></i> Home</a>
            <div id="nav-links">
                <a href="/about"><i class="fas fa-user"></i> About</a>
                <a href="/projects"><i class="fas fa-project-diagram"></i> Projects</a>
                <a href="/blog"><i class="fas fa-pen"></i> Blog</a>
                <a href="/testimonials"><i class="fas fa-comments"></i> Testimonials</a>
                <a href="/contact"><i class="fas fa-envelope"></i> Contact</a>
                <a href="/skills"><i class="fas fa-lightbulb"></i> Skills</a>
                <a href="/certifications"><i class="fas fa-certificate"></i> Certifications</a>
            </div>
        </div>
    </nav>


    <!-- Main Content -->
    {% block content %}{% endblock %}


    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Anthony Sergo. All rights reserved.</p>
        <div class="social-links">
            <a href="https://x.com/SergoAnthony?t=fb0U21HU3rCoCSDkVFt4Hw&s=09" target="_blank">Twitter</a> |
            <a href="https://www.instagram.com/tonynickbush?igsh=cGI0NnZyYnk2bXI4" target="_blank">Instagram</a> |
            <a href="https://www.linkedin.com/in/anthony-sergo1" target="_blank">LinkedIn</a> |
            <a href="https://github.com/Tony-Magabush28" target="_blank">GitHub</a>
        </div>
    </footer>


    <script>
        function toggleMenu() {
            const navLinks = document.getElementById('nav-links');
            const hamburger = document.querySelector('.hamburger');
            navLinks.classList.toggle('toggle-active');
            hamburger.classList.toggle('toggle');
            document.body.classList.toggle('menu-open');
        }
    </script>

</body>
</html>
